{{!-- <table>
    <tr>
        <td>
            <button>
                <a href="/hosting/static/">Static Web Hosting(free)</a>
            </button>
        </td>
        <td>
            <button>
                <a href="/hosting/dynamic">Dynamic Web Hosting(Paid)</a>
            </button>
        </td>
        {{#if user}}
            <a href="/user/{{user.username}}">{{user.username}}</a>
            <a href="/logout">Logout</a>
        {{else}}
            <td>
                <button>
                    <a href="/login">Login</a>
                </button>
            </td>
            <td>
                <button>
                    <a href="/register">Register</a>
                </button>
            </td>
        {{/if}}
    </tr>
</table> --}}

<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
			<form action="/login" method="POST">
				<div class="modal-body mb-1">
				<div class="md-form form-sm mb-5">
					<i class="fas fa-envelope prefix"></i>
					<input type="text" required name="username" id="modalLRInput10" class="form-control form-control-sm validate">
					<label data-error="wrong" data-success="right" for="modalLRInput10">Your Username</label>
				</div>

				<div class="md-form form-sm mb-4">
					<i class="fas fa-lock prefix"></i>
					<input type="password" required name="password" id="modalLRInput11" class="form-control form-control-sm validate">
					<label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
				</div>
				<div class="text-center mt-2">
					<button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
				</div>
				</div>
			</form>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-center text-md-right mt-1">
                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">
			<form action="/register" method="POST">
				<!--Body-->
				<div class="modal-body">
				<div class="md-form form-sm mb-5">
					<i class="fas fa-envelope prefix"></i>
					<input type="text" id="modalLRInput12" name="name" class="form-control form-control-sm validate" required>
					<label data-error="wrong" data-success="right" for="modalLRInput12">Your Name</label>
				</div>
				<div class="md-form form-sm mb-5">
					<i class="fas fa-lock prefix"></i>
					<input type="text" id="modalLRInput13" name="username" required class="form-control form-control-sm validate">
					<label data-error="wrong" data-success="right" for="modalLRInput13">Your Username</label>
				</div>
				<div class="md-form form-sm mb-5">
					<i class="fas fa-envelope prefix"></i>
					<input type="email" id="modalLRInput12" name="email" required class="form-control form-control-sm validate">
					<label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
				</div>

				

				<div class="md-form form-sm mb-4">
					<i class="fas fa-lock prefix"></i>
					<input type="password" id="modalLRInput14" name="password" required class="form-control form-control-sm validate">
					<label data-error="wrong" data-success="right" for="modalLRInput14">Your password</label>
				</div>

				<div class="text-center form-sm mt-2">
					<button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
				</div>

				</div>
			</form>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->


<!--Navbar -->
<nav style="background-color: white;" class="mb-1 navbar navbar-expand-lg fixed-top navbar-light  lighten-1" style="">
 <a class="navbar-brand" href="/"><b ><strong><span style="color: blueviolet;" >BACHELORSCODE.</span><span>TECH</span></strong></b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
{{!--       
      <li class="nav-item">
        <a class="nav-link" href="/hosting/static/">Static Website Hosting(Free/unlimited)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dynamin Website Hosting(Comming Soon)</a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="http://bachelorscode.tech/support">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://bachelorscode.tech/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://bachelorscode.tech/faq">FAQ</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      {{!-- <li class="nav-item">
        <a class="nav-link waves-effect waves-light">1
          <i class="fas fa-envelope"></i>
        </a>
      </li> --}}
      {{#if user}}
        <li class="nav-item avatar dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{user.username}}
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
            aria-labelledby="navbarDropdownMenuLink-55">
            
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      {{else}}
        <li>
            <a href="" class="btn" style="background-color:#B83227 ;color:white;"  data-toggle="modal" data-target="#modalLRForm">Login/Register</a>
        </li>
      {{/if}}
      
    </ul>
  </div>
</nav>
<!--/.Navbar -->